
.mainBody {
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-font-size: 14;
    -fx-background-color: rgba(0, 102, 2, 0.9);
    -fx-border-width: 5;
    -fx-background-insets: 12;
    -fx-border-insets: 10;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

.searchButton {
    margin-left: 20;
}

.bottomStatusBar {
    -fx-background-color: rgba(255, 255, 255, 0.9);
    fx-marg: 10;
}

.progressBar{
    -fx-accent: rgba(255, 255, 255, 0.9);
}